
<h3 class="mt-5 text-center">Equipo</h3>

<div id="equipo">
    <div id="persona">
        <li>
            <img  id="hombre" src="assets/hombre.png">
            <div id="concep">
                <cite>Logistica: Luis Orozco</cite>
                
            </div>
            
        </li>

    </div>
    <div id="persona">
        <li>
            <img id="hombre" src="assets/hombre.png">
            <div id="concep">
                <cite>Diseñador: Carlos Gonzalez</cite>
            </div>
            
        </li>

    </div>
    <div id="persona">
        <li>
            <img id="hombre" src="assets/hombre.png">
            <div id="concep">
                <cite>Programador: Martin Palacios</cite>
            </div>
            
        </li>

    </div>
    <div id="persona">
        <li>
            <img id="mujer" src="assets/mujerr.png">
            <div id="concep">
                <cite>Programador: Priscilla Riffo </cite>
            </div>
            
        </li>

    </div>
    <div id="persona">
        <li>
            <img id="hombre" src="assets/hombre.png">
            <div id="concep">
                <cite>Programador: Gerald Morales</cite>
            </div>
            
        </li>

    </div>
    <div id="persona">
        <li>
            <img id="hombre" src="assets/hombre.png">
            <div id="concep">
                <cite>Programador: Carlos Nuñez</cite>
            </div>
            
        </li>

    </div>
</div>