
<h1>Equipo</h1>

<div id="equipo">
    <div id="persona">
        <li>
            <img src="assets/1.png">
            <div id="concep">
                <cite>Logistica: Luis Orozco</cite>
                
            </div>
            
        </li>

    </div>
    <div id="persona">
        <li>
            <img src="assets/1.png">
            <div id="concep">
                <cite>Diseñador: Carlos Gonzalez</cite>
            </div>
            
        </li>

    </div>
    <div id="persona">
        <li>
            <img src="assets/1.png">
            <div id="concep">
                <cite>Programador: Martin Palacios</cite>
            </div>
            
        </li>

    </div>
    <div id="persona">
        <li>
            <img src="assets/1.png">
            <div id="concep">
                <cite>Programador: Priscilla Riffo </cite>
            </div>
            
        </li>

    </div>
    <div id="persona">
        <li>
            <img src="assets/1.png">
            <div id="concep">
                <cite>Programador: Gerald Morales</cite>
            </div>
            
        </li>

    </div>
    <div id="persona">
        <li>
            <img src="assets/1.png">
            <div id="concep">
                <cite>Programador: Carlos Nuñez</cite>
            </div>
            
        </li>

    </div>
</div>