#hombre{
    width: 60%;
    height: 60%;
}

#mujer{
    width: 50%;
    height: 50%;
}

#equipo{
    display:flex;
    flex-wrap: wrap;
    margin-left:65px;
    list-style: none;

}

#persona{
    margin-left: 10%;
    margin-top: 5%;
}
